body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #5ba379;
  }
  
main{
  flex: 1 0 auto;
}

.card-container{
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-wrap: wrap;
  overflow:hidden;
  text-overflow:ellipsis;

}
.detail-container{
  flex: 1 0 auto;
}
.parkCard{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  word-wrap:break-word;
  height: 20rem;
  width: 15rem;
  margin: 1rem;
  margin-right: 10px;
}

.card-img-top{
  /*height: 15rem;*/
}

footer {
  padding-top: 0;
  text-align: right;
}

.description-container{
/*  border: 1px solid #cbcbcb;
*/  background-color: #ffffff ;
  padding: .5rem;
}

.reviews-container{
  padding: 3rem;
}

.image-container{


  background-color: #ffffff ;
    display:flex;
  align-items:center;
  justify-content:center;

}

.detail-image{
  height: auto;

}
.description-image-container{
  padding-top: 3rem;
  height: auto;
}

.review-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.review-submit{
  display: block;
  margin: 0 auto;
}

.signup-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.signup-submit{
  display: block;
  margin: 0 auto;
}


.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.login-submit{
  display: block;
  margin: 0 auto;
}

#index-title{
  color: white;
}

footer{
  color: white;
}




.colorjumbo {
    background-color: #228B22;
    text-color: beige;
    width:100%;
  }

