
{% extends 'base.html' %}
{% load static %}
{% block content %}


  
  <div class="jumbotron colorjumbo text-center border border-success rounded jumbotron-fluid">
      
          <h2 class="display-8 text-light">Discover America's Story: The National Parks</h2>
          <p class="lead text-light">envisioning your 2020 park experience! getset go         -your's truly The Parkadvisor Team  </p>

      
 </div>





  
<div id="carouselExampleControls" class="carousel slide border rounded border-dark" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item img-fluid active carwidth">
      <img src="{% static 'images/parksprojectimage1.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item img-fluid carwidth">
      <img src="{% static 'images/bridgeimage.jpeg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item img-fluid carwidth">
      <img src="{% static 'images/parksproject4.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item image-fluid">
      <img src="{% static 'images/parksproject2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item image-fluid">
      <img src="{% static 'images/parksproject3.jpeg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    



{% endblock %}




